@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&family=Roboto:wght@300;400&family=Rubik:wght@300;400&display=swap');

* {
  box-sizing: border-box;
    color: currentColor;
  }
  
  body, html {
    color: #293264;
    margin: 0;
    font-family: Karla, sans-serif;
    background-color: #F5F7FB;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
    user-select: none; /* Modern browsers */  
}

